In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# Data Compress

**Modifying or Coverting bits structure of data to comsume less space**
Common technique removes and replaces repetitive data elements and symbols to reduce data size

In [109]:
#change this on your side

noisyData = pd.read_csv('C:/Users/snghi/Documents/NUST/Semester 4/Data Analytics/Homework/Data Cleaning/noisydata.csv', usecols=[0,6,7])

In [110]:
noisyData

     Year  19L/R 19L/R Percent of Departures
0    2005      4                          2%
1    2005      0                          0%
2    2005      0                          0%
3    2005      0                          0%
4    2005      0                          0%
..    ...    ...                         ...
126  2015      0                          0%
127  2015      0                          0%
128  2015      0                          0%
129  2015      0                          0%
130  2015      0                          0%

[131 rows x 3 columns]

In [144]:
noisyData.to_pickle("noisydata.pkl")

In [145]:
unpicked = pd.read_pickle("noisydata.pkl")
unpicked

     Year  19L/R 19L/R Percent of Departures
0    2005      4                          2%
1    2005      0                          0%
2    2005      0                          0%
3    2005      0                          0%
4    2005      0                          0%
..    ...    ...                         ...
126  2015      0                          0%
127  2015      0                          0%
128  2015      0                          0%
129  2015      0                          0%
130  2015      0                          0%

[131 rows x 3 columns]